{% extends 'base.html' %}

{% block title %}
    Task #{{ task.pk }}
{% endblock %}

{% block content %}
    <div class="card rounded-1 my-5">
        <div class="card-header fw-bold text-capitalize">
            {{ task.title }}
        </div>

        <div class="card-body">
            <h5 class="card-title">Status: {{ task.status }}</h5>
            <h5 class="card-title">Deadline: {{ task.deadline }}</h5>
            <label for="description" class="form-label">Description:</label>
            <p class="card-text mx-3" id="description">{{ task.description }}</p>
            <label for="full_description" class="form-label">Full Description:</label>
            <pre class="card-text mx-3" id="full_description">{{ task.full_description }}</pre>
        </div>
    </div>
{% endblock %}